<div class="mapexplorer" data-agent-url="<%= agent_url %>" data-map-id="<%= map_id %>" data-process="<%= process %>" data-chainscript="<%= chainscript %>">
    <%= render 'segment.jsr' %>
    <%= render 'bitcoinEvidence.jsr' %>
    <%= render 'tmpopEvidence.jsr' %>
    <%= render 'tmpopHeader.jsr' %>
    <%= render 'dummyEvidence.jsr' %>
    <div class="segment">
    </div>
</div>
